body {
    background-image: url('../image/pi5nejbkT.jpg'); /* Reemplaza con el nombre de tu imagen */
    background-size: cover; /* Para cubrir toda la pantalla */
    background-repeat: no-repeat; /* Para evitar que se repita la imagen */
    background-position: center; /* Para centrar la imagen */
}
.borrar{
    background-image: url('../image/eliminar.png');
}
.agregar{
    background-image: url('../image/agregar.png');
}   
.editar{
    background-image: url('../image/editar.png');
}
.agregarPersona{
    background-image: url('../image/agregar-usuario.png');
    
}